# Ruta absoluta a la carpeta decommission/
BASE_PATH=/ruta/absoluta/a/decommission

# Puerto del servidor local
PORT=9876

# ── Loyalty status ────────────────────────────────────────────────────────────
TARGET_PATH=/pocket-bff/users/me/loyalty/status

# ── Cupones de lealtad ────────────────────────────────────────────────────────
TARGET_COUPONS_PATH=/pocket-bff/users/me/loyalty/coupons
# empty | full
COUPONS_LIST_SUFFIX=empty

# ── Cupones canjeados ─────────────────────────────────────────────────────────
TARGET_REDEEMED_PATH=/pocket-bff/users/me/loyalty/coupons/redeemed
# empty | full
COUPONS_REDEEMED_SUFFIX=empty

# ── Enrolamiento ──────────────────────────────────────────────────────────────
TARGET_ENROLL_PATH=/pocket-bff/users/me/loyalty/enroll
LOYALTY_MEMBER_ID=720100015844
USER_ID=2465729859

# ── Cupones de checkout ───────────────────────────────────────────────────────
TARGET_CHECKOUT_COUPONS_PATH=/pocket-bff/checkout/coupons
# cart | no_cart_error
CHECKOUT_COUPONS_SUFFIX=cart
