BASE_PATH=/ruta/absoluta/a/decommission
PORT=9876
TARGET_PATH=/pocket-bff/users/me/loyalty/status
TARGET_COUPONS_PATH=/pocket-bff/loyalty/coupons
COUPONS_LIST_SUFFIX=empty
TARGET_REDEEMED_PATH=/pocket-bff/users/me/loyalty/coupons/redeemed
COUPONS_REDEEMED_SUFFIX=empty
TARGET_ENROLL_PATH=/pocket-bff/users/me/loyalty/enroll
LOYALTY_MEMBER_ID=720100015844
USER_ID=2465729859
