VERSION=1.0.0

# Ruta absoluta a la carpeta decommission/
BASE_PATH=/ruta/absoluta/a/decommission

# Puerto del servidor local
PORT=9876

# ── Base path del BFF ─────────────────────────────────────────────────────────
# pocket-bff | web-bff
TARGET_BASE_PATH=pocket-bff

# ── Cupones de lealtad ────────────────────────────────────────────────────────
# empty | full | server_error | bad_request
COUPONS_LIST_SUFFIX=empty

# ── Cupones canjeados ─────────────────────────────────────────────────────────
# empty | full
COUPONS_REDEEMED_SUFFIX=empty

# ── Enrolamiento ──────────────────────────────────────────────────────────────
LOYALTY_MEMBER_ID=720100015844
USER_ID=2465729859

# ── Cupones de checkout ───────────────────────────────────────────────────────
# cart | no_cart_error
CHECKOUT_COUPONS_SUFFIX=cart
